# Turn off include cleaner for now, since it can't handle exports yet, required to use a pch
Diagnostics:
    UnusedIncludes: None
---
If:
    PathMatch: src/pch.h
CompileFlags:
    # Treat the pch as c++
    Add: [-xc++]
Diagnostics:
    # Getting some spurious warnings about RGNDATA in d3d9.h
    # Suspect it's due to the nested unrealsdk/pch.h defining NOGDI
    Suppress: unknown_typename
---
# Suppress errors from outside the project
If:
    PathExclude: .*((unrealsdk|pyunrealsdk)/)?src/.*
Diagnostics:
    Suppress: '*'
---
# Suppress "expected expression" errors caused by variable substitutions
If:
    PathMatch: src/.*\.in
Diagnostics:
    Suppress: expected_expression

